/*
   FILTER CONTRAST
*/

.contrast0 { filter: contrast(0); }
.contrast1 { filter: contrast(50%); }
.contrast2 { filter: contrast(75%); }
.contrast3 { filter: contrast(100%); }
.contrast4 { filter: contrast(150%); }
.contrast5 { filter: contrast(200%); }
