/*
   FILTER HUE ROTATE
*/

.hue-rotate1 { filter: hue-rotate(45deg); }
.hue-rotate2 { filter: hue-rotate(90deg); }
.hue-rotate3 { filter: hue-rotate(135deg); }
.hue-rotate4 { filter: hue-rotate(180deg); }
.hue-rotate5 { filter: hue-rotate(225deg); }
.hue-rotate6 { filter: hue-rotate(270deg); }
.hue-rotate7 { filter: hue-rotate(315deg); }
.hue-rotate8 { filter: hue-rotate(360deg); }
