/*
   FILTER GRAYSCALE
*/

.gray-10  { filter: grayscale(10%); }
.gray-20  { filter: grayscale(20%); }
.gray-30  { filter: grayscale(30%); }
.gray-40  { filter: grayscale(40%); }
.gray-50  { filter: grayscale(50%); }
.gray-60  { filter: grayscale(60%); }
.gray-70  { filter: grayscale(70%); }
.gray-80  { filter: grayscale(80%); }
.gray-90  { filter: grayscale(90%); }
.gray-100 { filter: grayscale(100%); }

