/*
   FONT FAMILY
*/

body, html {   font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }

.serif {        font-family: georgia, serif; }
.sans-serif {   font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
.font-fantasy { font-family: fantasy; }
.font-cursive { font-family: cursive; }
.font-mono {    font-family: monospace; }
