/*
   HEIGHT SCALE
*/


.ht1   { height: 1rem; }
.ht2   { height: 2rem; }
.ht3   { height: 4rem; }
.ht4   { height: 8rem; }
.ht5   { height: 16rem; }
.ht6   { height: 32rem; }
.ht7   { height: 48rem; }
.ht8   { height: 64rem; }
.ht9   { height: 96rem; }
.ht10  { height: 128rem; }
