/*
   MAX WIDTHS
*/

.mx-wi-1  { max-width: 1%; }
.mx-wi-2  { max-width: 2%; }
.mx-wi-3  { max-width: 3%; }
.mx-wi-4  { max-width: 4%; }
.mx-wi-5  { max-width: 5%; }
.mx-wi-6  { max-width: 6%; }
.mx-wi-7  { max-width: 7%; }
.mx-wi-8  { max-width: 8%; }
.mx-wi-9  { max-width: 9%; }
.mx-wi-10  { max-width: 10%; }
.mx-wi-11  { max-width: 11%; }
.mx-wi-12  { max-width: 12%; }
.mx-wi-13  { max-width: 13%; }
.mx-wi-14  { max-width: 14%; }
.mx-wi-15  { max-width: 15%; }
.mx-wi-16  { max-width: 16%; }
.mx-wi-17  { max-width: 17%; }
.mx-wi-18  { max-width: 18%; }
.mx-wi-19  { max-width: 19%; }
.mx-wi-20  { max-width: 20%; }
.mx-wi-21  { max-width: 21%; }
.mx-wi-22  { max-width: 22%; }
.mx-wi-23  { max-width: 23%; }
.mx-wi-24  { max-width: 24%; }
.mx-wi-25  { max-width: 25%; }
.mx-wi-26  { max-width: 26%; }
.mx-wi-27  { max-width: 27%; }
.mx-wi-28  { max-width: 28%; }
.mx-wi-29  { max-width: 29%; }
.mx-wi-30  { max-width: 30%; }
.mx-wi-31  { max-width: 31%; }
.mx-wi-32  { max-width: 32%; }
.mx-wi-33  { max-width: 33%; }
.mx-wi-34  { max-width: 34%; }
.mx-wi-35  { max-width: 35%; }
.mx-wi-36  { max-width: 36%; }
.mx-wi-37  { max-width: 37%; }
.mx-wi-38  { max-width: 38%; }
.mx-wi-39  { max-width: 39%; }
.mx-wi-40  { max-width: 40%; }
.mx-wi-41  { max-width: 41%; }
.mx-wi-42  { max-width: 42%; }
.mx-wi-43  { max-width: 43%; }
.mx-wi-44  { max-width: 44%; }
.mx-wi-45  { max-width: 45%; }
.mx-wi-46  { max-width: 46%; }
.mx-wi-47  { max-width: 47%; }
.mx-wi-48  { max-width: 48%; }
.mx-wi-49  { max-width: 49%; }
.mx-wi-50  { max-width: 50%; }
.mx-wi-51  { max-width: 51%; }
.mx-wi-52  { max-width: 52%; }
.mx-wi-53  { max-width: 53%; }
.mx-wi-54  { max-width: 54%; }
.mx-wi-55  { max-width: 55%; }
.mx-wi-56  { max-width: 56%; }
.mx-wi-57  { max-width: 57%; }
.mx-wi-58  { max-width: 58%; }
.mx-wi-59  { max-width: 59%; }
.mx-wi-60  { max-width: 60%; }
.mx-wi-61  { max-width: 61%; }
.mx-wi-62  { max-width: 62%; }
.mx-wi-63  { max-width: 63%; }
.mx-wi-64  { max-width: 64%; }
.mx-wi-65  { max-width: 65%; }
.mx-wi-66  { max-width: 66%; }
.mx-wi-67  { max-width: 67%; }
.mx-wi-68  { max-width: 68%; }
.mx-wi-69  { max-width: 69%; }
.mx-wi-70  { max-width: 70%; }
.mx-wi-71  { max-width: 71%; }
.mx-wi-72  { max-width: 72%; }
.mx-wi-73  { max-width: 73%; }
.mx-wi-74  { max-width: 74%; }
.mx-wi-75  { max-width: 75%; }
.mx-wi-76  { max-width: 76%; }
.mx-wi-77  { max-width: 77%; }
.mx-wi-78  { max-width: 78%; }
.mx-wi-79  { max-width: 79%; }
.mx-wi-80  { max-width: 80%; }
.mx-wi-81  { max-width: 81%; }
.mx-wi-82  { max-width: 82%; }
.mx-wi-83  { max-width: 83%; }
.mx-wi-84  { max-width: 84%; }
.mx-wi-85  { max-width: 85%; }
.mx-wi-86  { max-width: 86%; }
.mx-wi-87  { max-width: 87%; }
.mx-wi-88  { max-width: 88%; }
.mx-wi-89  { max-width: 89%; }
.mx-wi-90  { max-width: 90%; }
.mx-wi-91  { max-width: 91%; }
.mx-wi-92  { max-width: 92%; }
.mx-wi-93  { max-width: 93%; }
.mx-wi-94  { max-width: 94%; }
.mx-wi-95  { max-width: 95%; }
.mx-wi-96  { max-width: 96%; }
.mx-wi-97  { max-width: 97%; }
.mx-wi-98  { max-width: 98%; }
.mx-wi-99  { max-width: 99%; }
.mx-wi-100  { max-width: 100%; }
