/*
   MAX HEIGHTS - PERCENTAGES
*/

.mxhi-1  {   max-height: 1%; }
.mxhi-2  {   max-height: 2%; }
.mxhi-3  {   max-height: 3%; }
.mxhi-4  {   max-height: 4%; }
.mxhi-5  {   max-height: 5%; }
.mxhi-6  {   max-height: 6%; }
.mxhi-7  {   max-height: 7%; }
.mxhi-8  {   max-height: 8%; }
.mxhi-9  {   max-height: 9%; }
.mxhi-10 {   max-height: 10%; }
.mxhi-11 {   max-height: 11%; }
.mxhi-12 {   max-height: 12%; }
.mxhi-13 {   max-height: 13%; }
.mxhi-14 {   max-height: 14%; }
.mxhi-15 {   max-height: 15%; }
.mxhi-16 {   max-height: 16%; }
.mxhi-17 {   max-height: 17%; }
.mxhi-18 {   max-height: 18%; }
.mxhi-19 {   max-height: 19%; }
.mxhi-20 {   max-height: 20%; }
.mxhi-21 {   max-height: 21%; }
.mxhi-22 {   max-height: 22%; }
.mxhi-23 {   max-height: 23%; }
.mxhi-24 {   max-height: 24%; }
.mxhi-25 {   max-height: 25%; }
.mxhi-26 {   max-height: 26%; }
.mxhi-27 {   max-height: 27%; }
.mxhi-28 {   max-height: 28%; }
.mxhi-29 {   max-height: 29%; }
.mxhi-30 {   max-height: 30%; }
.mxhi-31 {   max-height: 31%; }
.mxhi-32 {   max-height: 32%; }
.mxhi-33 {   max-height: 33%; }
.mxhi-34 {   max-height: 34%; }
.mxhi-35 {   max-height: 35%; }
.mxhi-36 {   max-height: 36%; }
.mxhi-37 {   max-height: 37%; }
.mxhi-38 {   max-height: 38%; }
.mxhi-39 {   max-height: 39%; }
.mxhi-40 {   max-height: 40%; }
.mxhi-41 {   max-height: 41%; }
.mxhi-42 {   max-height: 42%; }
.mxhi-43 {   max-height: 43%; }
.mxhi-44 {   max-height: 44%; }
.mxhi-45 {   max-height: 45%; }
.mxhi-46 {   max-height: 46%; }
.mxhi-47 {   max-height: 47%; }
.mxhi-48 {   max-height: 48%; }
.mxhi-49 {   max-height: 49%; }
.mxhi-50 {   max-height: 50%; }
.mxhi-51 {   max-height: 51%; }
.mxhi-52 {   max-height: 52%; }
.mxhi-53 {   max-height: 53%; }
.mxhi-54 {   max-height: 54%; }
.mxhi-55 {   max-height: 55%; }
.mxhi-56 {   max-height: 56%; }
.mxhi-57 {   max-height: 57%; }
.mxhi-58 {   max-height: 58%; }
.mxhi-59 {   max-height: 59%; }
.mxhi-60 {   max-height: 60%; }
.mxhi-61 {   max-height: 61%; }
.mxhi-62 {   max-height: 62%; }
.mxhi-63 {   max-height: 63%; }
.mxhi-64 {   max-height: 64%; }
.mxhi-65 {   max-height: 65%; }
.mxhi-66 {   max-height: 66%; }
.mxhi-67 {   max-height: 67%; }
.mxhi-68 {   max-height: 68%; }
.mxhi-69 {   max-height: 69%; }
.mxhi-70 {   max-height: 70%; }
.mxhi-71 {   max-height: 71%; }
.mxhi-72 {   max-height: 72%; }
.mxhi-73 {   max-height: 73%; }
.mxhi-74 {   max-height: 74%; }
.mxhi-75 {   max-height: 75%; }
.mxhi-76 {   max-height: 76%; }
.mxhi-77 {   max-height: 77%; }
.mxhi-78 {   max-height: 78%; }
.mxhi-79 {   max-height: 79%; }
.mxhi-80 {   max-height: 80%; }
.mxhi-81 {   max-height: 81%; }
.mxhi-82 {   max-height: 82%; }
.mxhi-83 {   max-height: 83%; }
.mxhi-84 {   max-height: 84%; }
.mxhi-85 {   max-height: 85%; }
.mxhi-86 {   max-height: 86%; }
.mxhi-87 {   max-height: 87%; }
.mxhi-88 {   max-height: 88%; }
.mxhi-89 {   max-height: 89%; }
.mxhi-90 {   max-height: 90%; }
.mxhi-91 {   max-height: 91%; }
.mxhi-92 {   max-height: 92%; }
.mxhi-93 {   max-height: 93%; }
.mxhi-94 {   max-height: 94%; }
.mxhi-95 {   max-height: 95%; }
.mxhi-96 {   max-height: 96%; }
.mxhi-97 {   max-height: 97%; }
.mxhi-98 {   max-height: 98%; }
.mxhi-99 {   max-height: 99%; }
.mxhi-100  { max-height: 100%; }
