/*
   MAX WIDTHS - KEYWORDS
*/

.mx-wi-none { max-width: none; }
.mx-wi-max  { max-width: max-content; }
.mx-wi-min  { max-width: min-content; }
.mx-wi-fit  { max-width: fit-content; }
.mx-wi-fill { max-width: fill-available; }
