/*
   MAX HEIGHTS - KEY WORDS
*/

.mxhi-none { max-height: none; }
.mxhi-max {  max-height: max-content; }
.mxhi-min {  max-height: min-content; }
.mxhi-fit {  max-height: fit-content; }
.mxhi-fill { max-height: fill-available; }
