/*
   MAX WIDTH - SCALE
*/

.mx-wi1  {  max-width: 1rem; }
.mx-wi2  {  max-width: 2rem; }
.mx-wi3  {  max-width: 4rem; }
.mx-wi4  {  max-width: 8rem; }
.mx-wi5  {  max-width: 16rem; }
.mx-wi6  {  max-width: 32rem; }
.mx-wi7  {  max-width: 48rem; }
.mx-wi8  {  max-width: 64rem; }
.mx-wi9  {  max-width: 96rem; }
.mx-wi10 {  max-width: 128rem; }
