/*
   MAX HEIGHTS - SCALE
*/

.mxhi1 {  max-height: 1rem; }
.mxhi2 {  max-height: 2rem; }
.mxhi3 {  max-height: 4rem; }
.mxhi4 {  max-height: 8rem; }
.mxhi5 {  max-height: 16rem; }
.mxhi6 {  max-height: 32rem; }
.mxhi7 {  max-height: 48rem; }
.mxhi8 {  max-height: 64rem; }
.mxhi9 {  max-height: 96rem; }
.mxhi10 { max-height: 128rem; }
