/*
   MIN WIDTH - PERCENTAGES
*/

.mn-wi-1  {   min-width: 1%; }
.mn-wi-2  {   min-width: 2%; }
.mn-wi-3  {   min-width: 3%; }
.mn-wi-4  {   min-width: 4%; }
.mn-wi-5  {   min-width: 5%; }
.mn-wi-6  {   min-width: 6%; }
.mn-wi-7  {   min-width: 7%; }
.mn-wi-8  {   min-width: 8%; }
.mn-wi-9  {   min-width: 9%; }
.mn-wi-10  {  min-width: 10%; }
.mn-wi-11  {  min-width: 11%; }
.mn-wi-12  {  min-width: 12%; }
.mn-wi-13  {  min-width: 13%; }
.mn-wi-14  {  min-width: 14%; }
.mn-wi-15  {  min-width: 15%; }
.mn-wi-16  {  min-width: 16%; }
.mn-wi-17  {  min-width: 17%; }
.mn-wi-18  {  min-width: 18%; }
.mn-wi-19  {  min-width: 19%; }
.mn-wi-20  {  min-width: 20%; }
.mn-wi-21  {  min-width: 21%; }
.mn-wi-22  {  min-width: 22%; }
.mn-wi-23  {  min-width: 23%; }
.mn-wi-24  {  min-width: 24%; }
.mn-wi-25  {  min-width: 25%; }
.mn-wi-26  {  min-width: 26%; }
.mn-wi-27  {  min-width: 27%; }
.mn-wi-28  {  min-width: 28%; }
.mn-wi-29  {  min-width: 29%; }
.mn-wi-30  {  min-width: 30%; }
.mn-wi-31  {  min-width: 31%; }
.mn-wi-32  {  min-width: 32%; }
.mn-wi-33  {  min-width: 33%; }
.mn-wi-34  {  min-width: 34%; }
.mn-wi-35  {  min-width: 35%; }
.mn-wi-36  {  min-width: 36%; }
.mn-wi-37  {  min-width: 37%; }
.mn-wi-38  {  min-width: 38%; }
.mn-wi-39  {  min-width: 39%; }
.mn-wi-40  {  min-width: 40%; }
.mn-wi-41  {  min-width: 41%; }
.mn-wi-42  {  min-width: 42%; }
.mn-wi-43  {  min-width: 43%; }
.mn-wi-44  {  min-width: 44%; }
.mn-wi-45  {  min-width: 45%; }
.mn-wi-46  {  min-width: 46%; }
.mn-wi-47  {  min-width: 47%; }
.mn-wi-48  {  min-width: 48%; }
.mn-wi-49  {  min-width: 49%; }
.mn-wi-50  {  min-width: 50%; }
.mn-wi-51  {  min-width: 51%; }
.mn-wi-52  {  min-width: 52%; }
.mn-wi-53  {  min-width: 53%; }
.mn-wi-54  {  min-width: 54%; }
.mn-wi-55  {  min-width: 55%; }
.mn-wi-56  {  min-width: 56%; }
.mn-wi-57  {  min-width: 57%; }
.mn-wi-58  {  min-width: 58%; }
.mn-wi-59  {  min-width: 59%; }
.mn-wi-60  {  min-width: 60%; }
.mn-wi-61  {  min-width: 61%; }
.mn-wi-62  {  min-width: 62%; }
.mn-wi-63  {  min-width: 63%; }
.mn-wi-64  {  min-width: 64%; }
.mn-wi-65  {  min-width: 65%; }
.mn-wi-66  {  min-width: 66%; }
.mn-wi-67  {  min-width: 67%; }
.mn-wi-68  {  min-width: 68%; }
.mn-wi-69  {  min-width: 69%; }
.mn-wi-70  {  min-width: 70%; }
.mn-wi-71  {  min-width: 71%; }
.mn-wi-72  {  min-width: 72%; }
.mn-wi-73  {  min-width: 73%; }
.mn-wi-74  {  min-width: 74%; }
.mn-wi-75  {  min-width: 75%; }
.mn-wi-76  {  min-width: 76%; }
.mn-wi-77  {  min-width: 77%; }
.mn-wi-78  {  min-width: 78%; }
.mn-wi-79  {  min-width: 79%; }
.mn-wi-80  {  min-width: 80%; }
.mn-wi-81  {  min-width: 81%; }
.mn-wi-82  {  min-width: 82%; }
.mn-wi-83  {  min-width: 83%; }
.mn-wi-84  {  min-width: 84%; }
.mn-wi-85  {  min-width: 85%; }
.mn-wi-86  {  min-width: 86%; }
.mn-wi-87  {  min-width: 87%; }
.mn-wi-88  {  min-width: 88%; }
.mn-wi-89  {  min-width: 89%; }
.mn-wi-90  {  min-width: 90%; }
.mn-wi-91  {  min-width: 91%; }
.mn-wi-92  {  min-width: 92%; }
.mn-wi-93  {  min-width: 93%; }
.mn-wi-94  {  min-width: 94%; }
.mn-wi-95  {  min-width: 95%; }
.mn-wi-96  {  min-width: 96%; }
.mn-wi-97  {  min-width: 97%; }
.mn-wi-98  {  min-width: 98%; }
.mn-wi-99  {  min-width: 99%; }
.mn-wi-100  { min-width: 100%; }
