/*
   MIN HEIGHTS
*/

.mn-hi1   { min-height: 1rem; }
.mn-hi2   { min-height: 2rem; }
.mn-hi3   { min-height: 4rem; }
.mn-hi4   { min-height: 8rem; }
.mn-hi5   { min-height: 16rem; }
.mn-hi6   { min-height: 32rem; }
.mn-hi7   { min-height: 48rem; }
.mn-hi8   { min-height: 64rem; }
.mn-hi9   { min-height: 96rem; }
.mn-hi10  { min-height: 128rem; }
