/*
   TYPE SCALE
*/

.f1    { font-size: 2rem; }
.f2    { font-size: 1.5rem; }
.f3    { font-size: 1.2rem; }
.f4    { font-size: 1.2rem; }
.f5    { font-size: 1rem; }
.f6,
.small { font-size: .85rem; }

