/*
   WIDTHS
*/

/* Width Percentages */

.wi1 {  width: 1rem; }
.wi2 {  width: 2rem; }
.wi3 {  width: 4rem; }
.wi4 {  width: 8rem; }
.wi5 {  width: 16rem; }
.wi6 {  width: 32rem; }
.wi7 {  width: 48rem; }
.wi8 {  width: 64rem; }
.wi9 {  width: 96rem; }
.wi10 { width: 128rem; }
